<div class="kit-table">
    <form class="layui-form" lay-filter="kit-search-form">
        <div class="kit-table-header">
            <div class="kit-search-btns">
                <a href="javascript:;" data-action="add" class="layui-btn layui-btn-sm"><i class="layui-icon">&#xe608;</i> 新增</a>
                <a href="javascript:;" data-action="del-bulk" class="layui-btn layui-btn-sm layui-btn-danger"><i class="layui-icon">&#xe640;</i> 批量删除</a>
            </div>
            <div class="kit-search-inputs">
                <div class="kit-search-keyword">
                    <input type="text" class="layui-input" name="keyword" placeholder="搜索关键字.." />
                    <button lay-submit lay-filter="search"><i class="layui-icon">&#xe615;</i></button>
                </div>
                
            </div>
        </div>
        <div class="kit-search-mored layui-anim layui-anim-upbit">
            <div class="kit-search-body">
                <div class="layui-form-item">
                    <label class="layui-form-label">输入框</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" placeholder="请输入标题" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">验证手机</label>
                        <div class="layui-input-inline">
                            <input type="tel" name="phone" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">验证邮箱</label>
                        <div class="layui-input-inline">
                            <input type="text" name="email" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">范围</label>
                        <div class="layui-input-inline" style="width: 100px;">
                            <input type="text" name="price_min" placeholder="￥" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-form-mid">-</div>
                        <div class="layui-input-inline" style="width: 100px;">
                            <input type="text" name="price_max" placeholder="￥" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">单行选择框</label>
                    <div class="layui-input-block">
                        <select name="interest" lay-filter="aihao">
                            <option value=""></option>
                            <option value="0">写作</option>
                            <option value="1" selected="">阅读</option>
                            <option value="2">游戏</option>
                            <option value="3">音乐</option>
                            <option value="4">旅行</option>
                          </select>
                    </div>
                </div>
            </div>
            <div class="kit-search-footer">
                <button type="reset" class="layui-btn layui-btn-sm layui-btn-primary kit-btn">重置</button>
                <button lay-submit lay-filter="search" class="layui-btn layui-btn-sm kit-btn">确定</button>
            </div>
        </div>
    </form>
    <div class="kit-table-body">
        <table id="demo" lay-filter="demo"></table>
        <script type="text/html" id="barDemo">
            <a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>
            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        </script>
    </div>
</div>


<script type="text/html" id="edit-tpl">
    <div style="margin:10px">
        <form class="layui-form" action="" lay-filter="form-edit">
            <input type="hidden" name="id" value="{{d.user.id}}" />
            <div class="layui-form-item">
                <label class="layui-form-label">订单时间</label>
                <div class="layui-input-block">
                    <input type="text" name="username" required lay-verify="required" value="{{d.user.submitTime}}" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">产品描述</label>
                <div class="layui-input-inline">
                    <input type="text" name="password" required lay-verify="required" value="{{d.user.describe}}" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">姓名</label>
                <div class="layui-input-block">
                    <input type="text" name="username" required lay-verify="required" value="{{d.user.name}}" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">联系方式</label>
                <div class="layui-input-block">
                   <input type="text" name="username" required lay-verify="required" value="{{d.user.tel}}" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">省</label>
                <div class="layui-input-block">
                    <input type="text" name="experience" required lay-verify="required" value="{{d.user.province}}" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">市</label>
                <div class="layui-input-block">
                    <input type="text" name="score" required lay-verify="required" value="{{d.user.city}}" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">区</label>
                <div class="layui-input-block">
                    <input type="text" name="wealth" required lay-verify="required" value="{{d.user.area}}" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">详细地址</label>
                <div class="layui-input-block">
                    <input type="text" name="wealth" required lay-verify="required" value="{{d.user.address}}" autocomplete="off" class="layui-input">
                </div>
            </div>
            
            <div class="layui-form-item" style="display:none;">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formEdit">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</script>

<script>
    layui.use(['table'], function() {
        var table = layui.table,
            $ = layui.jquery,
            layer = layui.layer,
            form = layui.form,
            laytpl = layui.laytpl;
        var tableIns = table.render({
            elem: '#demo',
            height: 'full-135', //容器高度
            url: '../datas/table.json',
            page: true,
            id: 'demo',
            cols: [
                [{
                    checkbox: true,
                    fixed: true
                }, {
                    field: 'id',
                    title: 'ID',
                    width: 60
                }, {
                    field: 'submitTime',
                    title: '订单时间',
                    width: 80,
                    sort: true
                }, {
                    field: 'describe',
                    title: '产品描述',
                    width: 190
                }, {
                    field: 'name',
                    title: '姓名',
                    width: 80
                }, {
                    field: 'tel',
                    title: '联系方式',
                    width: 120
                }, {
                    field: 'province',
                    title: '省',
                    width: 80
                }, {
                    field: 'city',
                    title: '市',
                    width: 80
                }, {
                    field: 'area',
                    title: '区',
                    width: 80
                }, {
                    field: 'address',
                    title: '详细地址',
                    width: 135,
                }, {
                    fixed: 'right',
                    title: '操作',
                    width: 150,
                    align: 'center',
                    toolbar: '#barDemo'
                }]
            ],
            done: function(res, curr, count) {
                //如果是异步请求数据方式，res即为你接口返回的信息。
                //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度
                // console.log(res);
                // //得到当前页码
                // console.log(curr);
                // //得到数据总量
                // console.log(count);
            },
            loading: true,
            //method: 'post'
        });
        var staticData = {
            citys: [{
                id: 0,
                name: '北京'
            }, {
                id: 1,
                name: '广州'
            }, {
                id: 2,
                name: '深圳'
            }, {
                id: 3,
                name: '杭州'
            }],
            classifies: [{
                id: 0,
                name: '词人'
            }, {
                id: 1,
                name: '诗人'
            }, {
                id: 2,
                name: '作家'
            }, {
                id: 3,
                name: '酱油'
            }]
        };
        //监听搜索表单提交
        form.on('submit(search)', function(data) {
            console.log(data.field);
            layer.msg(JSON.stringify(data.field));
            //带条件查询
            tableIns.reload({
                where: data.field
            });
            return false;
        });
        //监听工具条
        table.on('tool(demo)', function(obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值
            var tr = obj.tr; //获得当前行 tr 的DOM对象

            if (layEvent === 'detail') { //查看
                var d = {
                    user: data,
                };
                //do something
                laytpl($('#edit-tpl').html()).render(d, function(html) {
                    layer.open({
                        type: 1,
                        title: '查看数据',
                        content: html,
                        area: ['800px', '600px'],
                        btn: ['关闭']
                    });
                });
            } else if (layEvent === 'del') { //删除
                layer.confirm('真的删除行么', function(index) {
                    obj.del(); //删除对应行（tr）的DOM结构
                    layer.close(index);
                    //向服务端发送删除指令
                });
            } else if (layEvent === 'edit') { //编辑
                var d = {
                    user: data,
                    citys: staticData.citys,
                    classifies: staticData.classifies
                };
                //do something
                laytpl($('#edit-tpl').html()).render(d, function(html) {
                    layer.open({
                        type: 1,
                        title: '编辑数据',
                        content: html,
                        area: ['800px', '600px'],
                        btn: ['提交', '取消'],
                        yes: function(index, layero) {
                            editIndex = index;
                            $('form[lay-filter="form-edit"]').find('button[lay-submit]').click();
                        },
                        // btn2: function(index, layero) {
                        //     $('form[lay-filter="form-edit"]').find('button[type="reset"]').click();
                        //     return false;
                        // },
                        success: function() {
                            form.render(null, 'form-edit');
                        }
                    });
                });
                //同步更新缓存对应的值
                // obj.update({
                //     username: '123',
                //     title: 'xxx'
                // });
            }
        });
        form.render(null, 'kit-search-form');
        // $('#kit-search-more').on('click', function() {
        //     $('.kit-search-mored').toggle();
        // });
        var editIndex;
        form.on('submit(formEdit)', function(data) {
            layer.msg('formEdit');
            editIndex && layer.close(editIndex); //关闭弹出层
            return false;
        });
        $('.kit-search-btns').children('a').off('click').on('click', function() {
            var $that = $(this),
                action = $that.data('action');
            switch (action) {
                case 'add':
                    var d = {
                        user: {
                            submitTime: Date.parse(new Date()),
                            describe: '',
                            name: '',
                            tel: '',
                            province: '',
                            city: '',
                            area: '',
                            address: ''
                        },
                        citys: staticData.citys,
                        classifies: staticData.classifies
                    };
                    //渲染
                    laytpl($('#edit-tpl').html()).render(d,
                        function(html) {
                            layer.open({
                                type: 1,
                                title: '新增数据',
                                content: html,
                                area: ['800px', '600px'],
                                btn: ['提交', '取消'],
                                yes: function(index, layero) {
                                    editIndex = index;
                                    $('form[lay-filter="form-edit"]').find('button[lay-submit]').click();
                                },
                                success: function() {
                                    form.render(null, 'form-edit');
                                }
                            });
                        });
                    break;
                case 'del-bulk':
                    var d = table.checkStatus('demo');
                    if (d.data.length === 0) {
                        layer.msg('请选择要删除的数据');
                        return;
                    }
                    var data = d.data,
                        names = [],
                        ids = [];
                    layui.each(data, function(index, item) {
                        console.log(item);
                        names.push(item.username);
                        ids.push(item.id);
                    });
                    layer.msg(names.join(','));
                    console.log(ids.join(','));
                    break;
            }
        });
    });
</script>